Flask
Pillow
PyYAML
adafruit-blinka
adafruit-circuitpython-bme280
adafruit-circuitpython-bme680
adafruit-circuitpython-sht4x
cairosvg
colorama
displayhatmini
gpiozero
lgpio
numpy
pimoroni-bme280
pygame
python-dotenv
pytz
requests
rpi.gpio
smbus
spidev
waitress
yfinance
-e ./vendor/bme68x
